body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
}

h1 {
    font-family: "Give You Glory", cursive;
    font-size: 60px;
}

h2 {
    font-family: 'Vibur', cursive;;
    font-size: 2em;
}

h3 {
    font-family: 'Merienda', cursive;
    font-size: 60px;
}

p {
    font-family: "Nunito", sans-serif;
}